<div class="form-input">
	<div class="label fl">
		<%= f.label :name %>
	</div>
	<div class="input-control fr">
		<%= f.text_field :name, :class => 'title'  %>
	</div>
	<div class="clear"></div>
</div>
<div class="form-input">
  <div class="label fl">
    <%= f.label :company %>
  </div>
	<div class="input-control fr">
	  <%= f.text_field :company, :class => 'title'  %>  
	</div>
	<div class="clear"></div>
</div>
<div class="form-input">
  <div class="label fl">
    <%= f.label :country %>
  </div>
  <div class="input-control">
		<%= f.text_field :country, :class => 'title'  %>
  </div>
	<div class="clear"></div>
</div>
<div class="form-input">
  <div class="label fl">
    <%= f.label :website %>
  </div>
  <div class="input-control fr">
	  <%= f.text_field :website, :class => 'title'  %>  
	</div>
	<div class="clear"></div>
</div>
<div class="form-input">
	<div class="label fl">
	  <%= f.label :email, t("email") %><br />
	</div>
	<div class="input-control fr">
	  <%= f.text_field :email, :class => 'title'  %>
	</div>
	<div class="clear"></div>
</div>

<%= hook :signup_below_password_fields %>
