#background
	#wrapper
		#content
			#nav
				%ul
					%li= link_to("Collections", "#")
					%li= link_to("Videos", "#")
					%li= link_to("Wholesale")
					%li= link_to("Online Shop")
					%li= link_to("Contact")
